
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Varela+Round&family=Young+Serif&display=swap');
/* 
font-family: "Young Serif", serif;
font-family: "Bungee Spice", sans-serif;
 font-family: "Varela Round", sans-serif;   
*/
    
#header {
    background-color: aliceblue;
      background: #59c173; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #59c173, #a17fe0, #5d26c1); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #59c173, #a17fe0, #5d26c1); /
    
}


/* title */

h1{
    font-family: "Young Serif", serif;

}


h2 {
    font-family: "Varela Round", sans-serif;
    
}
#flexbox {
    display:flex;
}

/* flexbox */
#flexbox {
    display: flex;

}

/* left side */
#left-side {
    width: 50%;
    border: 1px solid red;
}

#shipwreck1 {
    width: 100%;
    height: 100%
}



/* right side */
#right-side {
    width: 50%;
    display: flex;
    flex-wrap: wrap; 
    border: 1px solid blue;
}

 .grid {
    width:50%;
    box-sizing: border-box;
    
}

#grid1 
{padding: 0px 5px 5px 10px;


}
#grid2 {padding: 0px 10px 5px 5px;}
#grid3 {padding: 5px 5px 0px 10px;}
#grid4 {padding: 5px 10px 0px 5px;}



#footer { 
    display: flex;
    justify-content: flex-end;
}



#anime {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;

}

#stakeholder {
    display: flex;
    margin: 25px 0px;
    padding: 10px 0px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;

}

#papa{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}