 @import url('https://fonts.googleapis.com/css2?family=Ewert&family=Manufacturing+Consent&family=Molle&display=swap');
 /*
   font-family: "Manufacturing Consent", system-ui;
   font-family: "Molle", cursive;
   font-family: "Ewert", serif;
 */

 #background {
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    /* background-image: url("design.png");
    background-size: cover;
    background-image url("design.png") */
    
 }

h1 {
    color:#fee140;
    font-family: "Manufacturing Consent", system-ui;
    font-size: 60px;
  }   
h3 {
     font-family: "Molle", cursive;
     font-size: 40px;


}

p {
    color:blueviolet;
    font-family:  "Ewert", serif;

}

#author {
    background-color:#F06C9B
}

